frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
*/Debug.win32/
*/Debug.win32/*
**/Debug.win32
simulator/win32/
runtime/win32/
*.sdf
frameworks/runtime-src/proj.win32/Backup/
*.suo
frameworks/runtime-src/proj.win32/UpgradeLog.htm
*.dll
*.pdb
*.ilk
sky.exe
frameworks/cocos2d-x/cocos/platform/
frameworks/runtime-src/proj.android/
simulator/android/sky-debug.apk
frameworks/cocos2d-x/cocos/2d/Release.win32/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Release.win32/
**/Release.win32/*
*.opensdf
log.txt
publish/android/sky-release-signed.apk
publish/android/sky-release-signed/
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.win32/Backup3/sky.sln
frameworks/cocos2d-x/build
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/build
runtime/mac/sky-desktop.app
simulator/ios/sky-mobile.app
simulator/mac/sky-desktop.app
frameworks/runtime-src/proj.ios_mac/build/sky.build
simulator/ios/sky-mobile.app.dSYM
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_mac/sky.xcodeproj/project.xcworkspace/xcuserdata
**/*xcuserdata
frameworks/runtime-src/proj.ios_mac/sky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
frameworks/runtime-src/proj.ios_mac/sky.xcodeproj/project.xcworkspace/xcshareddata/sky.xccheckout
simulator/android/sky-debug/
publish/mac/sky-desktop.app
frameworks/runtime-src/proj.android-studio/.idea/gradle.xml
frameworks/runtime-src/proj.android-studio/.idea/misc.xml
frameworks/runtime-src/proj.android-studio/.idea/vcs.xml
frameworks/runtime-src/proj.android-studio/.idea
*.udf
/res/
.md.html
*.md.html
*.pyc
*.blend1
MQTest/packages/
MQTest/MQTest/bin/
MQTest/MQTest/obj/
.DS_Store
skyserver/nodejs/node_modules
skyserver/nginx/logs/access.log
skyserver/nginx/logs/error.log
skyserver/nginx/logs/nginx.pid
db.sqlite3
