# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

client/simulator/android/awstraining-debug.apk

client/frameworks/runtime-src/proj.android-studio/app/awstraining-release.apk
