# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

client/simulator/android/awstraining-debug.apk

client/frameworks/runtime-src/proj.android-studio/app/awstraining-release.apk
.metadata/
.recommenders/
ataxx-core/bin/
client/runtime/mac/awstraining-desktop.app
client/frameworks/runtime-src/proj.ios_mac/awstraining.xcodeproj/project.xcworkspace/contents.xcworkspacedata
client/frameworks/runtime-src/proj.ios_mac/awstraining.xcodeproj/project.xcworkspace/xcshareddata/awstraining.xccheckout
clientjs/frameworks/runtime-src/proj.android/obj
clientjs/frameworks/runtime-src/proj.android/bin
clientjs/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates
ataxx-debug.apk
server-test/node_modules
server/bin
server/node_modules
clientjs/cocosstudio/.Plist_PList.Dir
