extends layout

block content
  h1 디바이스
  //p= JSON.stringify(data)
  table.table
    thead
      tr
        th DID
        th 닉네임
    each val, index in data.Items
      tr
        td= val.Id.S
        td= val.Nickname ? val.Nickname.S : '<없음>'
